---
layout: archive
---
<!--
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>


{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
-->

<!DOCTYPE html>
<html>
<head><meta charset="utf-8" />
<title>About</title><script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.10/require.min.js"></script>
<body>
  <div tabindex="-1" id="notebook" class="border-box-sizing">
    <div class="container" id="notebook-container">

<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h1 id="About">About<a class="anchor-link" href="#About"></a></h1><p>I am a data scientist who excel at machine learning, exploratory analysis, statistics and data visualisation.</p>
<p>I have a backgound study in statistics, IT and Big Data and currently try to utilise my knowledge to solve real worl problem in a variety of domains. I recently, find myself interested in the area of computer vision and machine intelligence. Always, look forward to new opportumity and working in challenging problems with talented people.</p>
<p>I spend some of my leisure time to get fit, eat healthy, travel, watching Netflix. Most of all, I always work on self-development trying to catch up with the industry as well as new technology in the field. Below are some of the courses I have taken in the past</p>
<h5 id="Some-of-Certificates-from-Past-Causes:">Some of Certificates from Past Courses:<a class="anchor-link" href="#Some-of-Certificates-from-Past-Causes:"></a></h5><ul>
<li><a href="https://www.coursera.org/account/accomplishments/certificate/XXZZC8ZUV4LN">Improving Deep Neural Networks: Hyperparameter tuning, Regularization and Optimization</a></li>
<li><a href="https://www.coursera.org/account/accomplishments/certificate/5JSU5GLQPZLV">Neural Networks and Deep Learning</a></li>
<li><a href="https://www.coursera.org/account/accomplishments/certificate/W5JL4SEQ45GH">Convolutional Neural Networks</a></li>
<li><a href="https://www.coursera.org/account/accomplishments/certificate/UV5GAWHQHN8F">Structuring Machine Learning Projects</a></li>
<li><a href="https://www.coursera.org/account/accomplishments/certificate/UY5TXSSFAF47">Mathematics for Machine Learning: Linear Algebra</a></li>
<li><a href="https://www.coursera.org/account/accomplishments/certificate/ZYXDPUMGQE5N">Machine Learning: Regression</a></li>
<li><a href="https://www.coursera.org/account/accomplishments/certificate/VVWV9YE46ZTC">Using Databases with Python</a></li>
<li><a href="https://www.coursera.org/account/accomplishments/certificate/M2WJ8HR3BRED">Hadoop Platform and Application Framework</a></li>
<li><a href="https://www.coursera.org/account/accomplishments/certificate/G2ATNHTC8CZT">Using Python to Access Web Data</a></li>
<li><a href="https://www.coursera.org/account/accomplishments/certificate/NYSDM3A2RG9V">Machine Learning Foundations: A Case Study Approach</a></li>
<li><a href="https://www.coursera.org/account/accomplishments/certificate/5WM9U9RWZX3F">Programming for Everybody (Getting Started with Python)</a></li>
<li><a href="https://www.coursera.org/account/accomplishments/certificate/VX883AQEA9CS">Introduction to Big Data (2015)</a></li>
<li><a href="https://www.coursera.org/account/accomplishments/certificate/DT9GFYMV69">Reproducible Research</a></li>
<li><a href="https://www.coursera.org/account/accomplishments/certificate/EAFTND57TT">Exploratory Data Analysis</a></li>
<li><a href="https://www.coursera.org/account/accomplishments/certificate/GGWFXU2BTN">R Programming</a></li>
<li><a href="https://www.coursera.org/account/accomplishments/certificate/GSQRT5DAJ6">The Data Scientist’s Toolbox</a></li>
</ul>

</div>
</div>
</div>
    </div>
  </div>
</body>




</html>
